@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Unbounded", cursive;
}

body {
  overflow-x: hidden;
}

.app {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.search {
  width: 71%;
  margin: 4rem 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.form {
  flex-direction: column;
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: #a1a1a1;
  background: hsl(210, 6%, 13%);
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}


.bg_img {
  width: 100%;
  min-height: 100vh;
  background: url(images/bg.jpg) no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.input {
  background-color: rgba(255, 255, 255, 0.75);
}

.group {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 1rem 0;
}

.city {
  margin-top: 2rem;
}

.city,
.temp {
  font-size: 3rem;
}

.box_container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.box {
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.75);
  width: 250px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  transition: transform 0.2s;
}

.box p {
  font-size: 20px;
  font-weight: bold;
}

.box h1 {
  font-size: 24px;
  font-weight: 500;
}

.box:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 730px) {
  .bg_img {
    padding: 2rem 0;
  }

  .box_container {
    flex-direction: column;
  }

  .box,
  .input {
    width: 70vw;
  }
}


/* Add these styles to make recent searches beautiful */
.recent-searches {
  margin-top: 20px;
  text-align: center;
  color: #111210;
  font-size: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 10px;
}

.recent-searches p {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.recent-searches span {
  display: inline-block;
  background-color: #2196F3; /* Blue */
  color: #e8dede;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.recent-searches span:hover {
  background-color: #1565C0; /* Darker Blue on hover */
}

.switch-button {
  font-family: var(--font-raleway);
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #a1a1a1;
  background: #1f2123;
  background-color: #2196F3; /* Blue */
  color: #e8dede;
  font-size: 18px;
  font-weight: bold;
}

.unit-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 20px;
}

label {
  font-family: var(--font-raleway);
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background: #1f2123;
}

label input {
  flex: 1;
  border-style: none;
  padding-right: 1rem;
  outline: none;
}

form {
  margin-bottom: 20px;
}

button {
  padding: 5px;
}

.error {
  color: red;
}
